{% extends 'TGCMain/base.html' %}
{% block content %}
<div class="container">
    <h2 class="text-center">Pesquisa</h2>
    <form method="GET" action="" id="searchform">
        <div class="form-row">
            <div class="col">
                <input class="searchfield form-control" id="searchbox" name="identificador" type="text" placeholder="Identificador..." />
            </div>
            <div class="col">
                <input class="searchfield form-control" id="searchbox" name="nome" type="text" placeholder="Nome..." />
            </div>
            <div class="col">
                <input class="searchfield form-control" id="searchbox" name="cracha" type="text" placeholder="Cracha..." />
            </div>
            <div class="col">
                <input class="searchfield form-control" id="searchbox" name="matricula" type="text" placeholder="Matricula..." />
            </div>
            <h3>Ativo?</h3>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="ativo" id="inlineRadio1" value="S" checked>
                <label class="form-check-label" for="inlineRadio1">SIM</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="ativo" id="inlineRadio2" value="N" >
                <label class="form-check-label" for="inlineRadio2">NÃO</label>
            </div>
        </div>
        </br>
        <div class="text-center">
            <button type="submit" class="btn btn-primary text-center">Pesquisar</button>
        </div>
    </form>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Identificador</th>
                <th scope="col">Nome</a></th>
                <th scope="col">Cracha</th>
                <th scope="col">Matricula</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{row.ds_identificador_aux}}</td>
                <td><a href='/edit/?cracha={{row.nr_cracha}}&ativo={{row.fl_ativo}}'>{{ row.nm_pessoa }}</a></td>
                <td>{{row.nr_cracha}}</td>
                <td>{{row.nr_matricula}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}